# Document Description

The following code was used to create the tables and figures in the write up for the paper submitted for the final project for Prof. Kale's Data Visualization Class at UChicago by Atticus Ginsborg, Sarah Song, and Kehan Zhao. Some latex code was written manually to match the results generated.

## Setup

In [10]:
# imports
import pandas as pd
import numpy as np
import plotly.express as px
import geopandas

import altair as alt

# reading in community college data
# the data can be found in the public folder of our project github repository
data = pd.read_csv("public\cc_with_coor.csv")
data

,College Name,Website,City,State,Data Analytics Only,Data Analytics degree/cert Offered,Data Science degree/cert Offered,Offers Certificate,Offers AS,Offer Data Science Course,COUNTY,LATITUDE,LONGITUDE
0,Mt. San Antonio College,https://catalog.mtsac.edu/programs/programsaz/...,Walnut,California,1,1,0,1,1,1,Los Angeles,34.017600,-117.863600
1,Santa Ana College,https://sac.curriqunet.com/catalog/alias/santa...,Santa Ana,California,1,1,0,1,0,0,Orange,33.750160,-117.857665
2,East Los Angeles College,https://programmap.elac.edu/academics/programs...,Los Angeles,California,0,1,1,1,0,1,Los Angeles,33.973093,-118.247896
3,Bakersfield College,https://bakersfield.elumenapp.com/catalog/2024...,Bakersfield,California,1,1,0,1,0,1,Kern,35.386611,-119.017063
4,American Rivers College,NaN,Sacramento,California,0,0,0,0,0,0,Sacramento,38.581600,-121.493300
...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,Montgomery County Community College,NaN,Blue Bell,Pennsylvania,0,0,0,0,0,0,Montgomery,40.159390,-75.279656
969,Northampton Community College,https://www.northampton.edu/education-and-trai...,Bethlehem,Pennsylvania,0,1,1,1,1,1,Northampton,40.600167,-75.380507
970,Pennsylvania Highlands Community College,NaN,Johnstown,Pennsylvania,0,0,0,0,0,0,Cambria,40.325957,-78.914080
971,Reading Area Community College,https://www.racc.edu/data,Reading,Pennsylvania,0,1,1,1,1,0,Berks,40.346621,-75.935132
972,Westmoreland County Community College,NaN,Youngwood,Pennsylvania,0,0,0,0,0,0,Westmoreland,40.239482,-79.582291

### Making Table 1

In [11]:
table1 = data.replace(0, False).replace(1, True).groupby(['Data Analytics degree/cert Offered',
       'Data Science degree/cert Offered', 'Offers Certificate', 'Offers AS']).size().reset_index().rename(columns={0: "Number of Programs", "Offers AS" : "Offers Degree"})
table1

,Data Analytics degree/cert Offered,Data Science degree/cert Offered,Offers Certificate,Offers Degree,Number of Programs
0,False,False,False,False,777
1,False,True,False,True,25
2,False,True,True,False,14
3,False,True,True,True,18
4,True,False,False,False,2
5,True,False,False,True,19
6,True,False,True,False,60
7,True,False,True,True,30
8,True,True,False,True,6
9,True,True,True,False,3
10,True,True,True,True,19

### Making Table 2

In [12]:
# grouping by state and counting num programs and num programs that meet criteria
table2 = data.groupby("State").agg(lambda x: np.count_nonzero(x==1)).merge(data.groupby("State").size().reset_index().set_index("State").rename(columns={0: "Total Number of Colleges"}), left_index=True, right_index=True)
# reformatting column names and selecting columns
table2 = table2.rename(columns={"Offers Certificate" : "Number of Schools Offering Certificates", "Offers AS": "Number of Schools Offering Degree", "Offer Data Science Course": "Number of Programs Offering an Intro DS Course"})
table2 = table2[["Number of Schools Offering Certificates", "Number of Schools Offering Degree", "Number of Programs Offering an Intro DS Course", "Total Number of Colleges"]]
table2

,Number of Schools Offering Certificates,Number of Schools Offering Degree,Number of Programs Offering an Intro DS Course,Total Number of Colleges
State,,,,
Alabama,1,0,0,25
Alaska,1,0,0,12
Arizona,8,3,0,22
Arkansas,0,3,4,22
California,35,17,43,115
Colorado,2,0,3,15
Connecticut,4,7,5,12
Delaware,0,0,0,1
Florida,4,6,2,28
Georgia,3,0,0,23
Hawaii,1,0,3,7
Idaho,0,0,0,4
Illinois,1,0,4,48
Indiana,5,6,0,20
Iowa,3,0,1,18
Kansas,2,0,3,20
Kentucky,0,0,0,16
Louisiana,0,0,0,12
Maine,0,0,0,7
Maryland,8,9,8,16
Massachusetts,3,3,3,15
Michigan,4,2,3,29
Minnesota,3,5,3,31
Mississippi,1,1,0,15
Missouri,1,1,0,14
Montana,0,0,0,17
Nebraska,1,1,1,8
Nevada,1,1,1,3
New Hampshire,3,1,1,7
New Jersey,3,7,8,18
New Mexico,1,0,1,12
New York,4,1,3,35
North Carolina,6,9,5,58
North Dakota,0,1,1,10
Ohio,5,4,4,22
Oklahoma,0,1,1,12
Oregon,0,1,1,17
Pennsylvania,3,3,3,14
Rhode Island,1,0,0,1
South Carolina,5,1,1,16
South Dakota,0,1,0,6
Tennessee,0,0,0,13
Texas,4,6,3,60
Utah,0,0,1,3
Vermont,1,0,0,1
Virginia,2,1,0,23
Washington,6,7,5,33
West Virginia,0,0,0,10
Wisconsin,7,7,0,18
Wyoming,0,1,0,8

### Making Figure 1

In [13]:
data["Both Cert and Degree"] = (data["Offers Certificate"] == 1) & (data["Offers AS"] == 1)

In [14]:
geos = geopandas.read_file("public/us-states.json").rename(columns={"name":"State"})
geos.head()

   id       State                                           geometry
0  AL     Alabama  POLYGON ((-87.3593 35.00118, -85.60668 34.9847...
1  AK      Alaska  MULTIPOLYGON (((-131.60202 55.11798, -131.5691...
2  AZ     Arizona  POLYGON ((-109.0425 37.00026, -109.04798 31.33...
3  AR    Arkansas  POLYGON ((-94.47384 36.50186, -90.15254 36.496...
4  CA  California  POLYGON ((-123.23326 42.00619, -122.37885 42.0...

In [15]:
fig1 = table2.reset_index()[["State"]].set_index("State")
fig1["Percent of Schools with DS Program"] = (table2[["Number of Schools Offering Certificates", "Number of Schools Offering Degree"]].sum(axis=1) - data[["State", "Both Cert and Degree"]].groupby("State").sum()["Both Cert and Degree"])/table2["Total Number of Colleges"]
fig1 = fig1.merge(geos[["id", 'State']], left_on='State', right_on='State')
fig1

             State  Percent of Schools with DS Program  id
0          Alabama                            0.040000  AL
1           Alaska                            0.083333  AK
2          Arizona                            0.363636  AZ
3         Arkansas                            0.136364  AR
4       California                            0.321739  CA
5         Colorado                            0.133333  CO
6      Connecticut                            0.583333  CT
7         Delaware                            0.000000  DE
8          Florida                            0.250000  FL
9          Georgia                            0.130435  GA
10          Hawaii                            0.142857  HI
11           Idaho                            0.000000  ID
12        Illinois                            0.020833  IL
13         Indiana                            0.300000  IN
14            Iowa                            0.166667  IA
15          Kansas                            0.100000  KS
16        Kentucky                            0.000000  KY
17       Louisiana                            0.000000  LA
18           Maine                            0.000000  ME
19        Maryland                            0.625000  MD
20   Massachusetts                            0.333333  MA
21        Michigan                            0.206897  MI
22       Minnesota                            0.193548  MN
23     Mississippi                            0.066667  MS
24        Missouri                            0.142857  MO
25         Montana                            0.000000  MT
26        Nebraska                            0.125000  NE
27          Nevada                            0.333333  NV
28   New Hampshire                            0.428571  NH
29      New Jersey                            0.444444  NJ
30      New Mexico                            0.083333  NM
31        New York                            0.142857  NY
32  North Carolina                            0.206897  NC
33    North Dakota                            0.100000  ND
34            Ohio                            0.272727  OH
35        Oklahoma                            0.083333  OK
36          Oregon                            0.058824  OR
37    Pennsylvania                            0.285714  PA
38    Rhode Island                            1.000000  RI
39  South Carolina                            0.312500  SC
40    South Dakota                            0.166667  SD
41       Tennessee                            0.000000  TN
42           Texas                            0.116667  TX
43            Utah                            0.000000  UT
44         Vermont                            1.000000  VT
45        Virginia                            0.086957  VA
46      Washington                            0.333333  WA
47   West Virginia                            0.000000  WV
48       Wisconsin                            0.444444  WI
49         Wyoming                            0.125000  WY

In [16]:
fig = px.choropleth(fig1.reset_index(),
                    locations = 'id',
                    locationmode='USA-states',
                    color='Percent of Schools with DS Program',
                    scope='usa',
                    title='Percentage of 2 Year Schools with a DS Degree or Certification by State',
                    color_continuous_scale='Blues')

fig.show()

### Making Figure 2

In [17]:
fig2data = pd.read_csv('public/counts.csv')
fig2data

alt.Chart(fig2data, title="Distribution of Skills Taught in Community College DS Programs").mark_bar().encode(
    alt.Y('cc_count:Q').title("Number of Community Colleges"),
    alt.X('skill:O').sort('-y')
).configure_axis( # to better read the x-axis and title
    labelFontSize=14,
    titleFontSize=12
)

alt.Chart(...)